@page "/Curriculo Leisaluz"

<PageTitle>Curriculo Leisaluz</PageTitle>
<h3> Leisaluz da Silva Assumpção </h3>

<div class="principal">
    <div class="SobreMim">
        <p>
            <h1>Sobre Mim </h1>
           
            Sou acadêmica Leisaluz da Silva tenho um curso Técnico
            em Informática do Instituto Fedreal de Rondônia, tenho 17 anos.
        </p>
        <hr />


<div class= "Contato">
    <p>
                <h1> Contato</h1>Contato
       
        * Moro atualmente: Ji Paraná Rondônia Brasil
        <br />
        * Número para contato: 69984234625
        <br />
        * Email:<a>leisaluzestudo@gmail.com </a>
        <br />
    </p>
            <hr />
</div>
    


</div>
    
<div class="Educacao">

    <p>
            <h1>Educação </h1>
            
        * Curso de Informática Avançada (2022- 2025)
        <br />
        * Curso Mídias Digitais Básico (2025)
        <br />
        * Curso Atendimento ao púlico (2025)
        <br />
    </p>
        <hr />
</div>
   
<div class="Experiencia">
    <p>
            <h1> Experiência</h1>
          
        * Experiência com vendedora (2022)
        <br />
        * Experiência com equipes
        <br />
        * Experiência com monitoria d
        <br />
    </p>
        <hr />
</div>


</div>

 
 

@code {

}
