@page "/curriculoleisaluz"

<PageTitle>Curriculo Leisaluz</PageTitle>

<div class="principal">
  
    <div class="Curriculo">
        <p>
         
 
            <h3>
                Sou acadêmica Leisaluz da Silva tenho um curso Técnico
                em Informática do Instituto Fedreal de Rondônia, tenho 17 anos.
            </h3>
            <img width="100px" height="150px" src="minhafoto.jpg" />
        </p>


        <div class="Contato">
            <p>
                <h3> Contato</h3>Contato
                Moro atualmente: Ji Paraná Rondônia Brasil
                <br />
                 Número para contato: 69984234625
                <br />
                 Email:<a>leisaluzestudo@gmail.com </a>
                <br />
            </p>
            <hr />
        </div>
    </div>

    <div class="Educacao">

        <p>
            <h3>Educação </h3>

            Curso de Informática Avançada (2022- 2025)
            <br />
             Curso Mídias Digitais Básico (2025)
            <br />
            Curso Atendimento ao púlico (2025)
            <br />
        </p>
        <hr />
    </div>

    <div class="Experiencia">
        <p>
            <h3> Experiência</h3>

            Experiência com vendedora (2022)
            <br />
            Experiência com equipes
            <br />
             Experiência com monitoria
            <br />
        </p>
        <hr />
    </div>

</div>